* {
    box-sizing: border-box;
}

html {
    background-image: url("./background.png");
    background-size: contain;
    background-position: center;
    font-size: 16px;
}

body {
    width: 100%;
    height: 100%;
    margin: 0 0;
}

h1 {
    font-size: 4rem;
    margin: 0;
}

h1, p {
    color: #ffc500;    ;
    text-align: center;
    font-family: "Arial Narrow", Arial, sans-serif;
}

p {
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

form {
    width: 80%;
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
}

fieldset {
    margin: 1.5em 0;
    padding: 2em 2em;
}

legend, label {
    display: block;
    color: #ffc500;    ;
    font-family: "Arial Narrow", Arial, sans-serif;
    text-align: left;
}

label {
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

legend {
    font-size: 2rem;
}

input {
    font-family: "Arial Narrow", Arial, sans-serif;
}

input[type="text"], input[type="email"], input[type="number"], textarea {
    width: 100%;
    height: 2em;
}

select {
    height: 2em;
}

textarea {
    height: 100%;
}

input[type="submit"] {
    display: block;
    margin: 1rem auto;
    width: 5em;
    height: 2em;
    font-size: 1.2rem;
    background-color: #ffc500;
}

input[type="submit"]:hover {
    background-color: darkorange;
}

a {
    color: blue;
}

a:visited {
    color: purple;
}
  
a:hover {
    color: #ffc500;
}

a:active {
    color: #ffc500;
}

img {
    margin: 0;
    width: 250px;
    height: auto;
}

#heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0 10px;
}