@font-face {
    font-family: "Star Jedi";
    src: url("https://db.onlinewebfonts.com/t/0c724f6aa457310440cf8949c615cbd7.eot");
    src: url("https://db.onlinewebfonts.com/t/0c724f6aa457310440cf8949c615cbd7.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/0c724f6aa457310440cf8949c615cbd7.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/0c724f6aa457310440cf8949c615cbd7.woff") format("woff"), url("https://db.onlinewebfonts.com/t/0c724f6aa457310440cf8949c615cbd7.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/0c724f6aa457310440cf8949c615cbd7.svg#Star Jedi") format("svg");
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: "Star Jedi";
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    background-color: #eee;
}

#page-wrapper {
    position: relative;
}

li {
    list-style: none;
}

a {
    color: #000;
    -webkit-text-decoration-color: transparent;
            text-decoration-color: transparent;
}

a:hover {
    -webkit-text-decoration-color: black;
            text-decoration-color: black;
    text-decoration-thickness: 3px;
    -webkit-transition: -webkit-text-decoration-color 1s;
    transition: -webkit-text-decoration-color 1s;
    -o-transition: text-decoration-color 1s;
    transition: text-decoration-color 1s;
    transition: text-decoration-color 1s, -webkit-text-decoration-color 1s;
}

/** global classes styling **/

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.btn {
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    border: 3px black solid;
    border-radius: 2px;
    background: transparent;
    cursor: pointer;
}

.grid {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-top: 2rem;
}

header {
    border-bottom: 1px solid black;
    background-color: #ddd;
    width: 100%;
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
}

@media (max-width: 450px) {
    header {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    #hero {
        margin-top: 250px !important;
    }
}

@media (max-width: 600px) {
    header {
        gap: 0;
    }
}

@media (max-width: 600px) {
    .logo {
        margin-top: 15px;
        width: 100%;
        position: relative;
    }
}

.logo>img {
    max-width: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 5px;
}

@media (max-width: 600px) {
    .logo>img {
        margin: 0 auto;
    }
}

nav {
    font-weight: 400;
}

@media (max-width: 600px) {
    nav {
        margin-top: 10px;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center;
        padding: 0 50px;
    }

    nav li {
        padding-bottom: 5px;
    }
}

nav>ul {
    width: 35vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

@media (max-width: 600px) {
    nav>ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}

#hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 80px;
}

#hero>h2 {
    margin-bottom: 20px;
    word-wrap: break-word;
}

#hero input[type='email'] {
    max-width: 275px;
    width: 100%;
    padding: 5px;
}

#hero input[type='submit'] {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: #ffc500;
}

#hero input[type='submit']:hover {
    background-color: darkorange;
    -webkit-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s;
}

@media (max-width: 600px) {
    #hero {
        margin-top: 100px;
    }
}

#features .icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 48;
    height: 48px;
    margin-right: 1rem;
}

@media (max-width: 450px) {
    section {
        scroll-margin-top: 180px;
    }
}

@media (max-width: 600px) {
    section {
        scroll-margin-top: 120px;
    }
}

section {
    scroll-margin-top: 100px;
}

@media (max-width: 600px) {
    #features {
        scroll-margin-top: 120px;
    }
}

@media (max-width: 550px) {
    #features .icon {
        display: none;
    }
}

#features .desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;
}

@media (max-width: 550px) {
    #features .desc {
        width: 100%;
        text-align: center;
        padding: 0;
        height: 150px;
    }
}

@media (max-width: 1000px) {
    #features {
        margin-top: 0;
    }
}

#how-it-works {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#how-it-works>img {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    width: 200px;
    display: block;
    margin: 0 auto;
    padding: 2%;
}

#pricing {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
}

.product>.level {
    background-color: #ddd;
    color: black;
    padding: 15px 0;
    width: 100%;
}

.product>h2 {
    margin-top: 15px;
}

.product>ol {
    margin: 15px 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

.product>ol>li {
    padding: 5px 0;
}

.product>button {
    border: 0;
    margin: 15px 0;
    background-color: #ffc500;
    font-weight: 400;
}

.product>button:hover {
    background-color: darkorange;
    -webkit-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s;
}

@media (max-width: 600px) {
    #pricing {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .product {
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 10px;
    }
}

footer {
    margin-top: 30px;
    background-color: #ddd;
    padding: 20px;
}

footer>ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

footer>ul>li {
    padding: 0 10px;
}

footer>span {
    margin-top: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    font-size: 0.9em;
    color: #444;
}